<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Anonymous Message</h1>
  <button ng-click="save()" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
      class="fas fa-upload fa-sm text-white-50"></i>
    Save Changes</button>
</div>

<div class="row">
  <div class="col-lg-12 border-left-primary">
    <div class="form-group row">
      <label for="announcement" class="col-sm-4 col-form-label">Anonymous</label>
      <div class="col-sm-4">
        <textarea class="form-control" ng-model="announcement.text" id="name"></textarea>
      </div>
    </div>
  </div>
</div>
