<div class="container">
  <h3>Performance <small class="text-success">Target Achieved: {{((report.payable/report.client.target) * 100).toFixed(1)}} % ({{report.payable}}/{{report.client.target}})</small></h3>
  <table class="table table-stripped table-responsive">
    <thead>
      <tr>
        <td>Date</td>
        <td>Total Amount</td>
        <td>Commission</td>
        <td>Payable</td>
        <td>Paid</td>
        <td>Credit</td>
        <td>Description</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="transaction in transactions">
        <td>{{printDate(transaction.tdate)}}</td>
        <td>{{transaction.total_amount}}</td>
        <td>{{transaction.commission_amount}}</td>
        <td>{{transaction.payable_amount}}</td>
        <td>{{transaction.paying_amount}}</td>
        <td>{{transaction.credit}}</td>
        <td>{{transaction.description}}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th>Total: </th>
        <th>{{ total.total_amount }}</th>
        <th>{{ total.commission_amount }}</th>
        <th>{{ total.payable_amount }}</th>
        <th>{{ total.paying_amount }}</th>
        <th>{{ total.credit }}</th>
        <th></th>
      </tr>
    </tfoot>
  </table>
</div>
