<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Pages Details</h1>
  <button data-toggle="modal" data-target="#newPageModal"
    class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-upload fa-sm text-white-50"></i>
    Add New Page</button>
</div>

<div class="row">
  <div class="col-lg-12 border-left-primary">
    <button class="btn btn-sm btn-primary" ng-click="rateMsg()">Rate Msg</button>
    <table class="table table-striped table-responsive">
      <thead>
        <tr>
          <th>#</th>
          <th>Page Name</th>
          <th>Username</th>
          <th>Link</th>
          <th>Followers</th>
          <th>Commission</th>
          <th>Story</th>
          <th>Post</th>
          <th>Both</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="page in pages">
          <td>
            {{ $index + 1 }}
          </td>
          <td><button class="btn btn-sm btn-primary" ng-click="copyText($index)"><i class="fa fa-copy"></i> {{ page.name }}</button></td>
          <td>{{ page.username }}</td>
          <td><a href="{{page.link}}" target="_blank">{{ page.link }}</a></td>
          <td>{{ page.followers }}</td>
          <td>{{ page.commission }}</td>
          <td>{{ page.story }}</td>
          <td>{{ page.post }}</td>
          <td>{{ page.both }}</td>
          <td>
            <button class="btn btn-md btn-warning" ng-click="edit($index)">Edit</button>
            <button class="btn btn-md btn-danger" ng-click="delete($index)">Del</button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>{{total.story}}</td>
          <td>{{total.post}}</td>
          <td>{{total.both}}</td>
          <td></td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>


<div class="modal fade" id="newPageModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Page Form</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group row">
            <label for="name" class="col-sm-4 col-form-label">Page Name</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" ng-model="page.name" id="name" placeholder="Page Name">
            </div>
          </div>
          <div class="form-group row">
            <label for="username" class="col-sm-4 col-form-label">Page Username</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" ng-model="page.username" id="username" placeholder="Username">
            </div>
          </div>
          
          <div class="form-group row">
            <label for="link" class="col-sm-4 col-form-label">Link</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" ng-model="page.link" id="link" placeholder="link">
            </div>
          </div>
          
          <div class="form-group row">
            <label for="followers" class="col-sm-4 col-form-label">Followers</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" ng-model="page.followers" id="followers" placeholder="followers">
            </div>
          </div>
          <div class="form-group row">
            <label for="commission" class="col-sm-4 col-form-label">Commission</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" ng-model="page.commission" id="commission" placeholder="commission">
            </div>
          </div>
          <div class="form-group row">
            <label for="story" class="col-sm-4 col-form-label">Story Rate</label>
            <div class="col-sm-4">
              <input type="number" class="form-control" ng-model="page.story" id="story" placeholder="story">
            </div>
          </div>
          <div class="form-group row">
            <label for="post" class="col-sm-4 col-form-label">Post Rate</label>
            <div class="col-sm-4">
              <input type="number" class="form-control" ng-model="page.post" id="post" placeholder="post">
            </div>
          </div>
          <div class="form-group row">
            <label for="both" class="col-sm-4 col-form-label">Both Rate</label>
            <div class="col-sm-4">
              <input type="number" class="form-control" ng-model="page.both" id="both" placeholder="both">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="save()">Save</button>
      </div>
    </div>
  </div>
</div>
