<div class="container">
  <h2>Transactions</h2>

  <div class="row">
    <div class="col-md-4">
      <form class="form-horizontal">
        <fieldset>
          <div class="form-group row">
            <label class="col-md-4 control-label" for="from_date">Date Range</label>
            <div class="col-md-8">
              <input id="from_date" ng-model="query.from_date" name="from_date" type="date" placeholder=""
                class="form-control input-md">
            </div>
            <label class="col-md-4 control-label" for="to_date">Date To</label>
            <div class="col-md-8">
              <input id="to_date" ng-model="query.to_date" name="to_date" type="date" placeholder=""
                class="form-control input-md">
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label" for=""></label>
            <div class="col-md-6">
              <button type="button" class="btn btn-sm btn-primary" ng-click="getData()">Get Data</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
    <div class="col-md-8">
      <button ng-click="downloadImg('a')" class="btn btn-sm btn-primary">Download</button>
      <div id="chart_div" style="height: 200px;"></div>
    </div>
  </div>

  <button ng-click="downloadCsv()" class="btn btn-sm btn-primary">Download CSV</button>
  <table id="transTbl" class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>User Name</th>
        <th>Total Income</th>
        <th>Total Commission</th>
        <th>Total Payable</th>
        <th>Target</th>
        <th>Total Paid</th>
        <th>Current Balance</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="transaction in report">
        <td ui-sref="app.display({clientId: transaction.client.id})">{{transaction.client.name}}</td>
        <td>{{transaction.total_amount}}</td>
        <td>{{transaction.commission_amount}}</td>
        <td>{{transaction.payable_amount}}</td>
        <td>{{transaction.client.target}}</td>
        <td>{{transaction.paying_amount}}</td>
        <td>{{(transaction.paying_amount - transaction.payable_amount)}}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th>Total: </th>
        <th>{{total.total_amount}}</th>
        <th>{{total.commission_amount}}</th>
        <th>{{total.payable_amount}}</th>
        <th>{{total.target}}</th>
        <th>{{total.paid_amount}}</th>
        <th>{{(total.balance)}}</th>
      </tr>
    </tfoot>
  </table>
</div>

<button ng-click="downloadImg('b')" class="btn btn-sm btn-primary">Download</button>
<div id="chart_div2" style="height: 600px;"></div>
<button ng-click="downloadImg('c')" class="btn btn-sm btn-primary">Download</button>
<div id="piechart" style="height: 600px;"></div>
