<!-- Sidebar -->
<ul ng-class="{'bg-gradient-primary': clientRole == 'Co-admin', 'bg-gradient-success': clientRole == 'Admin'}"
  class="navbar-nav bg-gray-900 sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="javascript:;">
    <div class="sidebar-brand-icon">
      <i class="fas fa-robot"></i>
    </div>
    <div class="sidebar-brand-text mx-3">Creative Fuel</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item">
    <a class="nav-link" href="#/app/dashboard">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="#/app/entry">
      <i class="fas fa-fw fa-edit"></i>
      <span>Daily Report</span></a>
  </li>

  <li class="nav-item" ng-show="clientRole == 'Admin'">
    <a class="nav-link" href="#/app/transactions">
      <i class="fas fa-fw fa-edit"></i>
      <span>Transactions</span></a>
  </li>

  <li class="nav-item" ng-show="clientRole == 'Admin'">
    <a class="nav-link" href="#/app/clients">
      <i class="fas fa-fw fa-edit"></i>
      <span>User Mgt.</span></a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="#/app/display/{{ clientId }}">
      <i class="fas fa-fw fa-edit"></i>
      <span>My Performance</span></a>
  </li>

  <li class="nav-item" ng-show="clientRole == 'Admin'">
    <a class="nav-link" href="#/app/pages">
      <i class="fas fa-fw fa-edit"></i>
      <span>Pages</span></a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="#/app/slots">
      <i class="fas fa-fw fa-edit"></i>
      <span>Slots</span></a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link" href="#/app/announcement">
      <i class="fas fa-fw fa-edit"></i>
      <span>Complain Box</span></a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link" ng-click="downloadBooking()">
      <i class="fas fa-fw fa-edit"></i>
      <span>Download All Bookings</span></a>
  </li>

  <!-- <li class="nav-item" ng-show="clientRole == 'Admin'">
    <a class="nav-link" href="#/app/omniform/new/new">
      <i class="fas fa-fw fa-edit"></i>
      <span>Report</span></a>
  </li> -->

  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>
<!-- End of Sidebar -->

<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">

  <!-- Main Content -->
  <div id="content">

    <!-- Topbar -->
    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

      <!-- Sidebar Toggle (Topbar) -->
      <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
      </button>

      <ul class="navbar-nav ml-auto">

        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
        <li class="nav-item dropdown no-arrow d-sm-none">
          <a class="nav-link dropdown-toggle" href="javascript:;" id="searchDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-search fa-fw"></i>
          </a>
          <!-- Dropdown - Messages -->
          <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
            <form class="form-inline mr-auto w-100 navbar-search">
              <div class="input-group">
                <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                  aria-label="Search" aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <button class="btn btn-primary" type="button">
                    <i class="fas fa-search fa-sm"></i>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </li>

        <div class="topbar-divider d-none d-sm-block"></div>

        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">
          <a class="nav-link dropdown-toggle" href="javascript:;" id="userDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <span class="mr-2 d-none d-lg-inline text-gray-600 small"
              style="text-transform: capitalize;">{{ username }}</span>
            <img class="img-profile rounded-circle"
              src="https://via.placeholder.com/60/000000/FFFFFF/?text={{username[0].toUpperCase()}}">
          </a>
          <!-- Dropdown - User Information -->
          <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
            <a class="dropdown-item" href="javascript:;" ng-click="logout()">
              <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
              Logout
            </a>
          </div>
        </li>

      </ul>

    </nav>
    <!-- End of Topbar -->

    <!-- CONTENT -->
    <div class="container-fluid" ui-view></div>
    <!-- END CONTENT -->

  </div>
  <!-- End of Main Content -->

  <!-- Footer -->
  <footer class="sticky-footer bg-white">
    <div class="container my-auto">
      <div class="copyright text-center my-auto">
        <span>Copyright &copy; Creative Fuel</span>
      </div>
    </div>
  </footer>
  <!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->
